<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.xiaorang.microservice.admin.mapper.SysUserMapper">

    <!-- 用户认证信息映射 -->
    <resultMap id="UserAuthMap" type="fun.xiaorang.microservice.admin.dto.UserAuthInfo">
        <id property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="locked" column="locked" jdbcType="TINYINT"/>
        <collection property="roles" ofType="string" javaType="java.util.Set">
            <result column="roleCode" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- 根据用户名获取认证信息 -->
    <select id="getUserAuthInfo" resultMap="UserAuthMap">
        SELECT t1.id userId, t1.username, t1.nickname, t1.password, t1.status, t1.locked, t3.code roleCode
        FROM sys_user t1
                 LEFT JOIN sys_user_role t2 ON t1.id = t2.user_id
                 LEFT JOIN sys_role t3 ON t2.role_id = t3.id
        WHERE t1.username = #{username}
          and t1.deleted = 0;
    </select>
</mapper>
